<html lang="{{@site.locale}}">
  <head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Preload scripts }}
    <link rel="preload" as="style" href="{{asset 'build/screen.css'}}" />

    {{ghost_head}}
  </head>

  <body>
    <div class="bg-gray-900">
      {{{body}}}
    </div>
    {{ghost_foot}}
  </body>
</html>